

/*left*/
.leftsidebar_box {
	width: 180px;
	height: auto !important;
	overflow: visible !important;
	position: fixed;
	height: 100% !important;
	background-color: #3992d0;
}

.line {
	height: 2px;
	width: 100%;
	background-image: url(../components/menu01/images/left/line_bg.png);
	background-repeat: repeat-x;
}

.leftsidebar_box dt {
	padding-left: 40px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #f5f5f5;
	font-size: 15px;
	position: relative;
	line-height: 48px;
	cursor: pointer;
}

.leftsidebar_box dd {
	background-color: #317eb4;
	padding-left: 40px;
}

.leftsidebar_box dd a {
	color: #f5f5f5;
	line-height: 20px;
}

.leftsidebar_box dt img {
	position: absolute;
	right: 20px;
	top: 20px;
}

/* .system_log dt {
	background-image: url(../components/menu01/images/left/system.png)
}

.custom dt {
	background-image: url(../components/menu01/images/left/custom.png)
}

.channel dt {
	background-image: url(../components/menu01/images/left/channel.png)
}

.app dt {
	background-image: url(../components/menu01/images/left/app.png)
}

.cloud dt {
	background-image: url(../components/menu01/images/left/cloud.png)
}

.syetem_management dt {
	background-image: url(../components/menu01/images/left/syetem_management.png)
}

.source dt {
	background-image: url(../components/menu01/images/left/source.png)
}

.statistics dt {
	background-image: url(../components/menu01/images/left/statistics.png)
} */



.leftsidebar_box	dd a:hover{

	/* background-color: #31699d;*/
	 border-bottom: 2px solid #FF9900;


}


.leftsidebar_box dl dd:last-child {
	padding-bottom: 10px;
}