<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>layDate Demo</title>

    <script src="../../js/jquery.min.js"></script>
<script src="laydate.js"></script>


</head>
<body>
<div style="width:970px; margin:10px auto;">
    演示一：<input placeholder="请输入日期" class="laydate-icon" onclick="laydate()" id="zms">
</div>



<div style="width:970px; margin:10px auto;">
    演示一：<input placeholder="请输入日期" class="laydate-icon" onclick="laydate()">
</div>


<script>

     laydate({
    event: 'click', //触发事件
    format: 'YYYY-MM-DD', //日期格式
    istime: false, //是否开启时间选择
    isclear: true, //是否显示清空
    istoday: true, //是否显示今天
    issure: false, //是否显示确认
    festival: true ,//是否显示节日
    min: '2015-01-01 00:00:00', //最小日期
    max: '2019-12-31 23:59:59', //最大日期
    //start: '2014-6-15 23:00:00',    //开始日期
    fixed: false, //是否固定在可视区域
    zIndex: 99999999 //css z-index
  /*  choose: function(dates){ //选择好日期的回调
    */
             }
       );

    $("#zms").val("2014-11-12")

</script>














开始日：<li class="laydate-icon" id="start" style="width:200px; margin-right:10px;"></li>
结束日：<li class="laydate-icon" id="end" style="width:200px;"></li>
<script>
    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD',
        // min: laydate.now(), //设定最小日期为当前日期
        max: '2019-06-16 23:59:59', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
          // end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD',
        min: laydate.now(),
        max: '2019-06-16 23:59:59',
        istime: false,
        istoday: false,
        choose: function(datas){
           start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>


</body>
</html>